@use '../../styles/variables' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: $spacing-sm;
  padding: $spacing-md;
  max-width: 700px;
  margin: 0 auto;

  @media (min-width: $breakpoint-md) {
    gap: $spacing-md;
  }
}

.item {
  overflow: hidden;
  border-radius: 8px;

  img, video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}