@use '../../../styles/variables' as *;

.caseStudy {
  --accent-color: #4a9b8c;
  --bg-color: #f5f5f5;
  --text-color: #ffffff;
  
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.heroSection {
  position: relative;
  overflow: hidden;
}

.heroBgImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  object-fit: contain;
  object-position: top right;
  pointer-events: none;
  z-index: 0;
  max-width:600px;

  @media (min-width: $breakpoint-md) {
    width: 50%;
  }
}

.accent {
  color: var(--accent-color);
}

.heroImageWrapper {
  width:100%;
  img {
    width:100%;
    max-height: 500px;
    object-fit: cover;
  }
}

.footerwrapper {
    background-color: $color-bg;
  background-image: url("/images/bg.webp");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}