@use '../../styles/variables' as *;

.more {
  padding: $spacing-xl $spacing-md;
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-family: $font-script;
  font-size: 1.8rem;
  font-weight: normal;
  margin-bottom: $spacing-lg;
  color: white;
}

.script {
  color: $color-accent;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;


  @media (min-width: $breakpoint-md) {
    flex-direction: row;
        > * {
      flex: 1;
    }
  }
}
