@use '../styles/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-body;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}