@use '../../styles/variables' as *;

.hero {
  position: relative;
  z-index: 1;

  @media (min-width: $breakpoint-md) {
    padding-top: 140px;
  }
}

.content {
  text-align: center;
  padding: $spacing-lg $spacing-md;
  position: relative;
  z-index: 2;
  max-width: 700px;
  margin: 0 auto;
}

.logo {
  margin-bottom: $spacing-md;
  img {
    max-height: 50px;
    width: auto;
    max-width:100px;
    @media (min-width: $breakpoint-md) {
      max-width: 1000px;
    }
  }
}

.headline {
  font-family: $font-script;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.3;

  @media (min-width: $breakpoint-md) {
    font-size: 2.5rem;
  }
}

.accent {
  color: var(--accent-color);
}
